# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGODB_URI=mongodb://sohailsayed012336_db_user:H3QYDgmq4MwHdhDJ@ac-o1mtjgv-shard-00-00.k7kjj2g.mongodb.net:27017,ac-o1mtjgv-shard-00-01.k7kjj2g.mongodb.net:27017,ac-o1mtjgv-shard-00-02.k7kjj2g.mongodb.net:27017/careerpilot?ssl=true&authSource=admin&retryWrites=true&w=majority
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/careerpilot

# JWT Secret (use a long random string in production)
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# OpenAI API Key
GROQ_API_KEY=your_groq_api_key_here
# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173
